.item {
  margin: 0;
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  font-size: 19px;
  color: #fff;
  letter-spacing: 0.25px;
  padding: 5px 0;
  line-height: 1.4;
}
.button,
.soldOut {
  margin-left: auto;
}

.soldOut {
  font-weight: bold;
  border-radius: 9px;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  vertical-align: middle;
  font-size: 19px;
  letter-spacing: 0.27px;
  text-align: center;
}
